<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hamro Books Login</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
<div class="background-img"></div>
<div class="login-container">
    <img src="https://github.com/PunksB1602/images/blob/main/logo.png?raw=true" alt="Hamro Books Logo" class="logo-img">
    <form id="login-form">
        <div class="form-group">
            <label for="email">Email/Phone</label>
            <input type="text" id="email" name="email" placeholder="Email or Phone" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Password" required>
        </div>
        <input type="checkbox" id="checkbox-1-1" class="custom-checkbox">
        <label for="checkbox-1-1">Keep me Signed in</label>
        <button type="submit">Log In</button>
        <p class="error-msg" id="login-error-msg"></p>
    </form>
    <div class="signup-link">
        <a href="#" id="signup-link">Create a new account</a>
    </div>
</div>

<div class="signup-container" style="display: none;">
    <img src="logo.png" alt="Hamro Books Logo" class="logo-img">
    <h1 class="logo">Create a New Account</h1>
    <form id="signup-form">
        <div class="form-group">
            <label for="firstname">First Name</label>
            <input type="text" id="firstname" name="firstname" placeholder="First Name" required>
        </div>
        <div class="form-group">
            <label for="lastname">Last Name</label>
            <input type="text" id="lastname" name="lastname" placeholder="Last Name" required>
        </div>
        <div class="form-group">
            <label for="email-signup">Email</label>
            <input type="email" id="email-signup" name="email-signup" placeholder="Email" required>
        </div>
        <div class="form-group">
            <label for="password-signup">Password</label>
            <input type="password" id="password-signup" name="password-signup" placeholder="Password" required>
        </div>
        <button type="submit">Sign Up</button>
        <p class="error-msg" id="signup-error-msg"></p>
    </form>
</div>

<script src="login.js"></script>
</body>
</html>
